@tailwind base;
@tailwind components;

@layer base {
	html {
		overflow-x: hidden;
		height: 100%;
		width: 100vw;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	body {
		min-height: 100svh;
	}
	html::-webkit-scrollbar {
		display: none;
	}

	section {
		@apply mx-auto my-auto max-w-4xl h-screen-ios;
		min-height: 100vh;
		min-height: 100svh;
	}

	h1 {
		@apply pb-2 text-left font-sans text-3xl font-bold md:pl-0 md:text-4xl;
	}

	h2 {
		@apply text-xl;
	}
	h3 {
		@apply font-sans text-lg;
	}
	p {
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
	p,
	li,
	h1,
	h2,
	label {
		@apply text-primary-900 dark:text-primary-100;
	}

	.inverted {
		@apply text-primary-100 dark:text-primary-900;
	}
	label {
		@apply font-sans font-light;
	}
}

@layer components {
	.highlight-content {
		@apply rounded-lg border border-primary-300/20 bg-gradient-to-tr from-primary-300/40 to-primary-300/60 p-4 shadow-md shadow-primary-800/5 backdrop-blur-md dark:border-primary-600/10 dark:from-primary-600/30 dark:to-primary-600/50 dark:shadow-primary-400/5;
	}
	.box-content {
		@apply flex w-fit flex-col justify-center rounded-md border border-primary-900/5 bg-gradient-to-br from-primary-900/10 to-primary-900/5 px-3 py-2 backdrop-blur-md dark:border-primary-50/10 dark:from-primary-50/5 dark:to-primary-50/10;
	}
	.btn {
		@apply rounded-md bg-[length:100%_300%] px-4 py-2 text-center font-sans text-sm uppercase transition-all duration-300 hover:bg-[length:100%_100%];
	}

	.btn-highlight {
		@apply rounded-lg border border-primary-600/5 bg-gradient-to-t from-primary-600/10 to-primary-500/70 px-5 py-2.5 shadow-sm backdrop-blur-md hover:shadow-none dark:border-primary-500/40 dark:from-primary-400/90 dark:to-primary-500/90;
	}
	.btn-navajo {
		@apply bg-primary-50 text-primary-900 hover:bg-primary-200 dark:bg-primary-900 dark:text-primary-50 dark:hover:bg-primary-800;
	}

	.input {
		@apply block w-full rounded-md bg-primary-50/80 p-2.5 text-sm font-medium text-primary-900 placeholder-primary-400 transition-all focus:bg-primary-50 focus:outline-none focus:ring-1 focus:!ring-primary-300/70 dark:border-primary-600 dark:bg-primary-50 dark:text-primary-900;
	}

	.label {
		@apply mb-2 block font-medium text-primary-900 dark:text-primary-50;
	}
}

@tailwind utilities;

/* @layer utilities {
  } */
.h-works {
	height: calc(100svh - 10rem);
}
.h-worksmd {
	height: calc(100% - 10rem);
}
