@tailwind base;
@tailwind components;

@layer base {
  html {
    overflow-x: hidden;
    /* overflow-y: auto; */
    width: 100vw
  }
  html {
    /* hide scrollbar */
    -ms-overflow-style: none;
     scrollbar-width: none;
   }
 
   html::-webkit-scrollbar {
     /* hide scrollbar */
     display: none;
   }

  h1 {
      @apply pb-2 md:pl-0 text-3xl md:text-4xl text-left font-sans font-bold;
      
  }

  h2 {
      @apply text-xl;
  }
  h3 {
      @apply text-lg font-sans;
  }
  p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  p {
      @apply text-primary-900 dark:text-primary-100;
  }
  .inverted {
      @apply dark:text-primary-900 text-primary-100;
  }
  label {
    @apply font-sans font-light
  }
}

@layer components {
  .btn {
      @apply transition duration-300 text-center px-4 py-2 rounded-md;
  }

  .btn-navajo {
      @apply bg-primary-50 text-primary-900 hover:bg-primary-200 dark:hover:bg-primary-800 dark:bg-primary-900 dark:text-primary-50
  }

  .input {
      @apply focus:!ring-primary-400 focus:ring-1 placeholder-primary-400 font-medium text-sm rounded-md bg-primary-50 block w-full p-2.5 dark:bg-primary-900 dark:border-primary-600 dark:text-primary-50
  }


  .label {
      @apply block mb-2 text-primary-50 font-medium dark:text-primary-900 
  }
}


@tailwind utilities;

/* @layer utilities {
  } */

  @media print {
    body * {
      visibility: hidden;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    #section-to-print {
      position: absolute;
      left: 0;
      top: 0;
    }
  }