@import 'tailwindcss';
/* @tailwind utilities; */

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility highlight-content {
	@apply border-primary-300/20 from-primary-300/40 to-primary-300/60 shadow-primary-800/5 dark:border-primary-600/10 dark:from-primary-600/30 dark:to-primary-600/50 dark:shadow-primary-400/5 rounded-lg border bg-linear-to-tr p-4 shadow-md backdrop-blur-md;
}

@utility box-content {
	@apply border-primary-900/5 from-primary-900/10 to-primary-900/5 dark:border-primary-50/10 dark:from-primary-50/5 dark:to-primary-50/10 flex w-fit flex-col justify-center rounded-md border bg-linear-to-br px-3 py-2 backdrop-blur-md;
}

@utility btn {
	@apply rounded-md bg-[length:100%_300%] px-4 py-2 text-center font-sans text-sm uppercase transition-all duration-300 hover:bg-[length:100%_100%];
}

@utility btn-highlight {
	@apply border-primary-600/5 from-primary-600/10 to-primary-500/70 dark:border-primary-500/40 dark:from-primary-400/90 dark:to-primary-500/90 rounded-lg border bg-linear-to-t px-5 py-2.5 shadow-xs backdrop-blur-md hover:shadow-none;
}

@utility btn-navajo {
	@apply bg-primary-50 text-primary-900 hover:bg-primary-200 dark:bg-primary-900 dark:text-primary-50 dark:hover:bg-primary-800;
}

@utility standardButton {
	@apply border-primary-900/10 from-primary-900/30 to-primary-900/20 text-primary-900 hover:border-primary-900/50 hover:from-primary-900/30 hover:to-primary-900/40 dark:border-primary-50/10 dark:from-primary-50/40 dark:to-primary-50/30 dark:text-primary-50 dark:hover:border-primary-50/50 dark:hover:from-primary-50/20 dark:hover:to-primary-50/30 box-border flex h-auto items-center justify-center rounded-lg border bg-linear-to-tr px-4 py-3 text-center font-light transition-all duration-300 ease-in md:backdrop-blur-xs;
}

@utility input {
	@apply bg-primary-50/80 text-primary-900 placeholder-primary-400 focus:bg-primary-50 focus:ring-primary-300/70! dark:border-primary-600 dark:bg-primary-50 dark:text-primary-900 block w-full rounded-md p-2.5 text-sm font-medium transition-all focus:ring-1 focus:outline-hidden;
}

@utility label {
	@apply text-primary-900 dark:text-primary-50 mb-2 block font-medium;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	html {
		overflow-x: hidden;
		height: 100%;
		width: 100vw;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	body {
		min-height: 100svh;
	}
	html::-webkit-scrollbar {
		display: none;
	}

	section {
		@apply mx-auto my-auto min-h-svh max-w-4xl;
	}

	/* section .full-screen */
	/* section  {
    min-height: 100vh;
    min-height: 100svh;
   } */

	h1 {
		@apply pb-2 text-left font-sans text-3xl font-bold md:pl-0 md:text-4xl;
	}

	h2 {
		@apply text-xl;
	}
	h3 {
		@apply font-sans text-lg;
	}
	p {
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
	p,
	li,
	h1,
	h2,
	label {
		@apply text-primary-900 dark:text-primary-100;
	}

	.inverted {
		@apply text-primary-100 dark:text-primary-900;
	}
	label {
		@apply font-sans font-light;
	}
}

/* @layer utilities {
  } */
.h-works {
	height: calc(100svh - 10rem);
}
.h-worksmd {
	height: calc(100% - 10rem);
}
